.container {
  display: flex;
  margin:1.5rem;
  width: 100%;
}

.container ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.textContainer {
	display: flex;
	flex-direction: column;
	justify-content:center;
}

.image {
	margin: 0 1rem;
}

.text {
	margin:0;
	text-align: left;
}

.characterTrait {
	font-weight: 600;
}

